*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
} 
body{
    background-color: #c9deff;
    background: linear-gradient(to right,#e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-container{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.50);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
}
.form-container h1{
    text-align: center;
    padding: 55px 0;
    height: 150px;
    background-color: #512da8;
    color: wheat;
}
.form-container h2{
    text-align: center;
    padding: 20px 0;
}
.edu p,.skill p,.purpose p,.access p{
    font-size: 28px;
    color: green;
    margin-left: 20px;
    margin-top: 40px;
}
.edu,.skill,.purpose,.access{
    display: flex;
    flex-direction: column;
}
.label{
    padding: 10px 30px;
    font: bolder;
    font-size: 20px;
    text-align: center;
}
.select,.text{
    background-color: #eee;
    border: none;
    margin: 10px 35px;
    padding: 10px 20px;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
    width: 90%;
}
.checkboxes{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.submit{
    /* width: 53.3vw; */
    width: 90%;
    margin: 40px 35px;
    padding: 10px 20px;
    background-color: #512da8;
    color: wheat;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.submit:hover{
    background-color: #2e3fa1;
}
@media screen and (max-width: 1054px){
    .text,.select,.submit{
        margin: 10px 27px;
    }
}

@media screen and (max-width: 731px){
    .text,.select,.submit{
        margin: 10px 17px;
    }
}
@media screen and (max-width: 530px){
    .text,.select,.submit{
        margin: 10px 14px;
    }
}
@media screen and (max-width: 420px){
    .text,.select,.submit{
        margin: 10px 9px;
    }
}